* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
header {
    background-image: url('Object.png'); /* Add your background image */
    background-size: cover;
    height: 100vh; /* Makes the header full screen */
}

nav{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-list{

    display:flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.item{
    align-self: inherit;
}